@model IEnumerable<Model.EF.CuocGoi>

@{
    ViewBag.Title = "Chi Tiết Hóa Đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
<div style="margin:50px 50px 50px 50px">
    <h1 style="text-align:center">
        Cước phí hàng tháng = cước thuê bao + giá cước * số phút sử dụng
    </h1>
    <h3>Giá cước được chia theo thời gian như sau:</h3>
    <ul>
        <li>
             Từ sau 7h đến 23h trong ngày: giá cước 200đ/phút.
        </li>
        <li>
             Từ sau 23h đến 7h sáng hôm sau: giá cứơc 150đ/phút.
        </li>
    </ul>
</div>
<table class="table">
    <tr>
        <th>Mã Cuộc Gọi</th>
        <th>
            Mã Sim
        </th>
        <th>
            Số Sim
        </th>
        <th>
            Cước Thuê Bao
        </th>
        <th>
            Thời Gian Bắt Đầu
        </th>
        <th>
            Thời Gian Kết Thúc
        </th>
        <th>
            Số phút Sử Dụng
        </th>
        <th>Thành Tiền</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.MaCuocGoi)
            </td>
            <td>
               @Html.DisplayFor(modelitem => item.MaSim)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Sim.SoSim)
            </td>
            <td>
                @ViewBag.CuocGia.ToString("C2")
            </td>
            <td>
               @item.TG_BatDau.ToString("dd/MM/yyyy HH:mm:ss")
            </td>
            <td>
                @item.TG_KetThuc.ToString("dd/MM/yyyy HH:mm:ss")
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.SoPhutSD)
            </td>
            <td>
                @{
                    @ViewBag.ThanhTien[i].ToString("C2");
                    i++;
                }
            </td>
        </tr>
    }
        <tr>
            <td colspan="7"><strong>Tổng Cộng</strong></td>
            <td>@ViewBag.TongCong.ToString("C2")</td>
        </tr>
</table>

        

