@model Model.EF.HoaDonThanhToan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HoaDonThanhToan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sim.SoSim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sim.SoSim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuocThueBao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuocThueBao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TG_TaoHoaDon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TG_TaoHoaDon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
