@model Model.EF.HoaDonThanhToan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDonThanhToan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sim.SoSim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sim.SoSim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuocThueBao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuocThueBao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TG_TaoHoaDon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TG_TaoHoaDon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
