@model IEnumerable<Model.EF.HoaDonThanhToan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


<table class="table">
    <tr>
        <th>Mã Hóa Đơn</th>
        <th>
            Tên Khách Hàng
        </th>
        <th>
            Số Sim
        </th>
        <th>
            Cước Thuê Bao
        </th>
        <th>
            Thời Gian Tạo Hóa Đơn
        </th>
        <th>
            Trạng Thái
        </th>
        <th>
            Thành Tiền
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem=>item.MaHD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sim.SoSim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuocThueBao)
        </td>
        <td>
            @item.TG_TaoHoaDon.ToString("dd/MM/yyyy HH:mm:ss")
        </td>
        
            @if(item.ThanhToan==true)
            {
            <td>
                Đã Thanh Toán
                </td>
            }
            else
            {
                <td>Chưa Thành Toán</td>
            }
            
        
        <td>
            @item.ThanhTien.ToString("C2")
        </td>
        
        <td>
            @Html.ActionLink("Chi Tiết Hóa Đơn", "CTHD", new { id=item.MaHD }) 
        </td>
    </tr>
}

</table>

